.cxx
.DS_Store
.externalNativeBuild
.gradle
.venv
*.iml
/.idea/assetWizardSettings.xml
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/navEditor.xml
/.idea/workspace.xml
/build
/captures
/local.properties
cheetah
local.properties
orca
speech-to-speech-translation/src/main/assets
venv
zebra